@if (isLoadingResults()) {
<div class="example-loading-shade">
  <mat-spinner></mat-spinner>
</div>
}

<table mat-table [dataSource]="breeds()" matSort matSortActive="id" matSortDisableClear matSortDirection="desc"
  class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Breed</th>
    <td mat-cell *matCellDef="let breed"> {{breed.id}} </td>
  </ng-container>
  <ng-container matColumnDef="subbreeds">
    <th mat-header-cell *matHeaderCellDef>Subbreeds</th>
    <td mat-cell *matCellDef="let breed">
      @for(subbreed of breed.subbreeds;track subbreed.id;let last=$last) {
       <a [routerLink]="['/breeds',breed.id,'subbreed',subbreed.id]">{{subbreed.id}}</a>
      @if(!last){
      ,
      }
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let breed">
       <a [routerLink]="['/breeds',breed.id]">Details</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="total()" [pageSizeOptions]="[10, 20, 30, 40,50]"
  aria-label="Select page of Breeds search results"></mat-paginator>
