<h1>Privacy Policy</h1>

<p>At DogsBreeds, we respect your privacy and are committed to protecting your personal information. This
  Privacy
  Policy outlines the types of information we collect, how we use it, and the steps we take to safeguard it.

</p>

<h2>Information We Collect</h2>

<ul>
  <li>
    <b>Personal Information:</b>When you visit our website, we may collect personal information such as your name,
    email address, and any other information you voluntarily provide.
  </li>
  <li>
    <b>Usage Data:</b> We collect information about how you interact with our website, including your IP address,
    browser type, pages visited, and the date and time of your visit.
  </li>
</ul>

<h2> We Use Your Information</h2>
<ul>
  <li>To improve our website and provide a better user experience</li>
  <li>To respond to your inquiries and provide customer support</li>
  <li>To send you newsletters or promotional materials (if you have opted-in)</li>
  <li>To monitor and analyze usage patterns</li>
</ul>

<h2>Cookies</h2>

<p>We use cookies and similar tracking technologies to enhance your browsing experience. You can choose to disable
  cookies
  through your browser settings, but this may affect the functionality of our website.
</p>

<h2>
  Data Sharing
</h2>
<p>We do not sell, trade, or otherwise transfer your personal information to third parties. However, we may share your
  information with trusted service providers who assist us in operating our website, conducting our business, or
  servicing
  you, as long as those parties agree to keep this information confidential.
</p>

<h2>
  Security
</h2>
<p>
  We implement a variety of security measures to maintain the safety of your personal information. However, no method of
  transmission over the Internet or electronic storage is 100% secure, and we cannot guarantee its absolute security.
</p>

<h2>Changes to This Policy</h2>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
  Policy on this page.</p>
