@use 'SASS:map';
@use '@angular/material' as mat;


@mixin color($theme) {

  app-top-header a.active {
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, on-primary) !important;
  }

  footer {
    border-top: 5px solid mat.get-theme-color($theme, primary);
  }

  footer a {}
}

@mixin theme($theme) {
  @include color($theme);
}
