<app-top-header>
  <ng-container ngProjectAs="header-left-content">
    <a routerLink="/home">
      <img src="assets/icons/logo-96.png" alt="">
    </a>
  </ng-container>
  <ng-container ngProjectAs="header-center-content">
    <a mat-button routerLinkActive="active" routerLink="/home">
      Home
    </a>
    <a mat-button routerLinkActive="active" routerLink="/breeds">
      Breeds
    </a>
  </ng-container>
  <ng-container ngProjectAs="header-right-content">
  </ng-container>

</app-top-header>
<main class="padding-content">
  <router-outlet />
</main>
